.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    /* background-color:rgb(248, 231, 231) ; */
  }
  
  .column {
    float: left;
    width: 20%;
    /* padding: 0 10px; */
    padding:30px;
  }
  
  .row {
    margin: 0 -5px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }