.home-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
  }

.col{
  display: flex;
  justify-content: center;
}