.body-dash{
    background-color: #e6e6e6;
    height: 90vh;
    display: flex;
    flex-direction: row;
   
}
.headtile1 {
    background: #0d99ff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}
.head-title{
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    margin-bottom: 6vh;
    font-size: x-large;
}

.dashboard{
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
}
td{
    text-align: center;
}
th{
    text-align: center;
}